for comment in comments
  .list-row.row.valign-wrapper
    .comment-image.col.s12.valign-wrapper
      - var url = "https://graph.facebook.com/"+comment.id+"/picture";
      img.circle-image.circle(src=url)
      | #{comment.message}


