div
  h5 สวัสดีครับท่านผู้เล่น
  p ระบบช่วยเหลือจะตอบคำถามต่างๆ เพื่อช่วยให้ผู้ใช้งานได้รับความสะดวกที่สุด
  p.valign-wrapper
    i.material-icons.small help_outline
    span สมัครด้วย Facebook ไม่ได้?
  p.valign-wrapper
    i.material-icons.small question_answer
    span ปกติถ้ามี Facebook แล้วแค่กดก็จะได้แล้ว แต่ถ้าไม่ได้ บนมือถือส่วนใหญ่จะบล๊อกการเปิด Popup 
      | ให้ไปเปิดก่อน หรือไม่ก็มาใช้งานบนโน๊ตบุ๊ค ไม่ก็ให้เช็คดูว่าใส่ https หรือยัง ถ้ายังไม่ได้อีกให้บอกผู้จัดทำ
      | จะไปดูให้
  .seperate-line
  p.valign-wrapper
    i.material-icons.small help_outline
    span หน้าแรก แสดงอะไร?
  p.valign-wrapper
    i.material-icons.small question_answer
    span แท๊บ Ranking จะแสดงลำดับคะแนนของผู้เล่น ดูรายละเอียดการทายของผู้เล่นอื่นๆได้
      | ส่วนแท๊บ Schedule จะแสดงกำหนดการแข่งขัน
      | และบันทึกผลการทายได้ ส่วนมุมบนซ้ายมือจะเป็น App Drawer
      | แสดงข้อมูลผู้เล่นคร่าวๆ
  .seperate-line
  p.valign-wrapper
    i.material-icons.small help_outline
    span จะทายผลได้ยังไง?
  p.valign-wrapper
    i.material-icons.small question_answer
    span เข้าไปที่แท๊บ Schedule คลิกเลือกคู่แข่งขันที่ต้องการ แล้วใส่ผลการทาย ลงในช่องแถวๆ
      | Your score แล้วกดปุ่ม Save score
  .seperate-line
  p.valign-wrapper
    i.material-icons.small help_outline
    span ทายผลได้ถึงเมื่อไหร่?
  p.valign-wrapper
    i.material-icons.small question_answer
    span ผู้เล่นจะสามารถทายผลได้ถึงแค่เวลาการแข่งขันเริ่มเท่านั้น หลังจากนั้นระบบจะปิดไม่ให้บันทึกผลการทาย
      | ถ้าลืมทายผล ให้ส่งเมล์ มาบอกก่อนเวลาแข่งได้ กรณีอาจจะเว็บล่ม จะบันทึกให้หลังบ้าน
      | ถ้าลืมทายผล ก็จะไม่ได้คะแนน ในนัดนั้นๆ
  .seperate-line
  p.valign-wrapper
    i.material-icons.small help_outline
    span คะแนนให้อย่างไร?
  p.valign-wrapper
    i.material-icons.small question_answer
    span คะแนนจะให้ตามผลการทาย และ รอบการแข่งขัน
    .row.center-align
      .col.s4 รอบ
      .col.s3 ทายผล คะแนนถูก
      .col.s3 ทายผล แพ้ชนะถูก
      .col.s2 ทายผิด
    .row.center-align
      .col.s4 รอบแบ่งกลุ่ม
      .col.s3 5
      .col.s3 2
      .col.s2 1
    .row.center-align
      .col.s4 รอบ 16 ทีม
      .col.s3 7
      .col.s3 3
      .col.s2 1
    .row.center-align
      .col.s4 รอบ 8 ทีม
      .col.s3 9
      .col.s3 4
      .col.s2 1
    .row.center-align
      .col.s4 รอบรอง
      .col.s3 11
      .col.s3 5
      .col.s2 1
    .row.center-align
      .col.s4 ชิงที่ 3
      .col.s3 13
      .col.s3 6
      .col.s2 1
    .row.center-align
      .col.s4 นัดชิง
      .col.s3 15
      .col.s3 7
      .col.s2 1
  .seperate-line
  p.valign-wrapper
    i.material-icons.small help_outline
    span ทายผลคะแนน ถ้ามีการต่อเวลา หรือยิงจุดโทษทำยังไง?
  p.valign-wrapper
    i.material-icons.small question_answer
    span ทายผลคะแนน เอาเฉพาะผลที่เกิดในเวลา 90 นาที ไม่นับหลังจากต่อเวลา หรือยิงจุดโทษ
  .seperate-line
  p.valign-wrapper
    i.material-icons.small help_outline
    span ผู้ชนะ ได้คะแนนสูงสุด แล้วได้อะไร?
  p.valign-wrapper
    i.material-icons.small question_answer
    span มีของรางวัลเท่าที่จะหาได้ มาให้
  .seperate-line



    