html
  include header.pug
  body
    div(class="center-align")
      a(id="login_button",class="waves-effect waves-light btn-large light-blue darken-1",onclick="loginFacebook()")="Login with facebook"
      div(id="message_info")
    
    script(src="js/signin.js",type="text/javascript")
    
    


