html
  include header.pug
  body
    .sign-in-header.right
      a.modal-trigger(href='#help_dialog', data-source="/help")
        i.material-icons info_outline

    .row
      .col.s12.center-align
        a(id="login_button",class="next waves-effect waves-light disabled btn-large light-blue darken-1",onclick="loginFacebook()")="Login with facebook"

    #debug

    #help_dialog.modal.modal-fixed-footer
      .modal-content
      .modal-footer
        a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Ok

    script(src="js/signin.js",type="text/javascript")
    
    


