html
  include header.pug
  body
    .row
      .col.s12.center-align
        a(id="login_button",class="next waves-effect waves-light disabled btn-large light-blue darken-1",onclick="loginFacebook()")="Login with facebook"
    
    br
    br
    br
    br
    br
    .row
      .col.s12.center-align
        a(id="force_login_button",class="next waves-effect waves-light btn-large light-blue darken-1",onclick="forceLogin()")="Force Login"
    .row
      .col.s6.offset-s3.center-align.input-field
          input#player_id.validate(type='text')
          label(for='player_id') Player ID    

    script(src="js/signin.js",type="text/javascript")
    
    


