html
  include header.pug
  body
    .sign-in-header.right
      a.modal-trigger(href='#help_dialog', data-source="/help")
        i.material-icons help_outline

    .row
      .col.s12.center-align
        #welcome &nbsp;
        a(id="login_button",class="next waves-effect waves-light disabled btn-large light-blue darken-1",onclick="loginFacebook()")="Login with facebook"
    .row
      .col.s12.center-align
        img(src="/images/fifa-world-cup-2018-russia.png",width="240")
        div 14 Jun - 15 Jul 2018
        div Platinum sponsor : 
          b Tom, Gap
        div Gold sponsor : 
          b Punoii, Ger
    #debug

    #help_dialog.modal.modal-fixed-footer
      .modal-content
      .modal-footer
        a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Ok

    script(src="js/signin.js",type="text/javascript")
    
    


