html
  include header.pug
  body
    .center-align
      a(id="login_button",class="next waves-effect waves-light disabled btn-large light-blue darken-1",onclick="loginFacebook()")="Login with facebook"
    
    script(src="js/signin.js",type="text/javascript")
    
    


