div
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'RUS','Russia')")
      img.circle-image.circle(src="/images/RUS.png")
      div Russia
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'URU','Uruguay')")
      img.circle-image.circle(src="/images/URU.png")
      div Uruguay
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'EGY','Egypt')")
      img.circle-image.circle(src="/images/EGY.png")
      div Egypt
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'KSA','Saudi Arabia')")
      img.circle-image.circle(src="/images/KSA.png")
      div Saudi Arabia
  .seperate-line
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'POR','Portugal')")
      img.circle-image.circle(src="/images/POR.png")
      div Portugal
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'ESP','Spain')")
      img.circle-image.circle(src="/images/ESP.png")
      div Spain
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'MAR','Morocco')")
      img.circle-image.circle(src="/images/MAR.png")
      div Morocco
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'IRN','Iran')")
      img.circle-image.circle(src="/images/IRN.png")
      div Iran
  .seperate-line
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'FRA','France')")
      img.circle-image.circle(src="/images/FRA.png")
      div France
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'PER','Peru')")
      img.circle-image.circle(src="/images/PER.png")
      div Peru
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'DEN','Denmark')")
      img.circle-image.circle(src="/images/DEN.png")
      div Denmark
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'AUS','Australia')")
      img.circle-image.circle(src="/images/AUS.png")
      div Australia
  .seperate-line
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'ARG','Argentina')")
      img.circle-image.circle(src="/images/ARG.png")
      div Argentina
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'CRO','Croatia')")
      img.circle-image.circle(src="/images/CRO.png")
      div Croatia
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'NGA','Nigeria')")
      img.circle-image.circle(src="/images/NGA.png")
      div Nigeria
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'ISL','Iceland')")
      img.circle-image.circle(src="/images/ISL.png")
      div Iceland
  .seperate-line
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'BRA','Brazil')")
      img.circle-image.circle(src="/images/BRA.png")
      div Brazil
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'SUI','Switzerland')")
      img.circle-image.circle(src="/images/SUI.png")
      div Switzerland
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'CRC','Costa Rica')")
      img.circle-image.circle(src="/images/CRC.png")
      div Costa Rica
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'SRB','Serbia')")
      img.circle-image.circle(src="/images/SRB.png")
      div Serbia
  .seperate-line
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'GER','Germany')")
      img.circle-image.circle(src="/images/GER.png")
      div Germany
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'MEX','Mexico')")
      img.circle-image.circle(src="/images/MEX.png")
      div Mexico
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'SWE','Sweden')")
      img.circle-image.circle(src="/images/SWE.png")
      div Sweden
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'KOR','South Korea')")
      img.circle-image.circle(src="/images/KOR.png")
      div South Korea
  .seperate-line
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'BEL','Belgium')")
      img.circle-image.circle(src="/images/BEL.png")
      div Belgium
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'ENG','England')")
      img.circle-image.circle(src="/images/ENG.png")
      div England
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'TUN','Tunisia')")
      img.circle-image.circle(src="/images/TUN.png")
      div Tunisia
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'PAN','Panama')")
      img.circle-image.circle(src="/images/PAN.png")
      div Panama
  .seperate-line
  .row(style="margin-bottom:2px;")
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'COL','Columbia')")
      img.circle-image.circle(src="/images/COL.png")
      div Colombia
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'SEN','Senegal')")
      img.circle-image.circle(src="/images/SEN.png")
      div Senegal
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'POL','Poland')")
      img.circle-image.circle(src="/images/POL.png")
      div Poland
    .choose-team.col.s3.match-team.center-align(onclick="selectTeam(this,'JPN','Japan')")
      img.circle-image.circle(src="/images/JPN.png")
      div Japan
  .seperate-line



    