html,body{
    height:100%;
    color:#666666;    
	overflow: hidden;
}
#login_button {
    margin-top:80px;
}
#message_info {
    padding:24px;
}
#main_tab {
    background-color:#1e9ad5;
}
nav {
    background-color:#1e9ad5;
}
nav .nav-wrapper .back-button i {
    margin-left:16px;
    cursor:pointer;
}
.tabs .tab a {
    color:#7ec6e8;
}
.tabs .tab a.active {
    color:white;
}
.tabs .tab a:hover, a:focus.active {
    color:white;
}
.tabs .indicator {
    background-color:white;
}
.tabs-content .carousel .carousel-slider {
    height:100%;
}
#ranking_tab, #schedule_tab, #standing_tab {
    height:100%;
    overflow:scroll;
}
.circle-image {
    margin:4px 8px;
    width:48px;
    height:48px;
    padding: 1px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 4px #999999;
}
.large-circle-image {
    margin:4px 8px;
    width:64px;
    height:64px;
    padding: 1px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 4px #999999;
}
.list-row {
    margin:2px 0px;
}
.list-row.waves-effect {
    display:flex;
}
.waves-effect.waves-light-grey .waves-ripple {
    background-color: rgba(224, 224, 224, 0.45);
}
.row .col {
    padding:unset;
}
.col .row {
    margin:unset;
    margin-top:4px;
    margin-bottom:4px;
}
.player-seq {
    font-size:20px;
}
.player-img {
}
.player-name {
}
.player-name img {
    vertical-align: middle;
}
.player-score {
    font-size:28px;
    margin-right:8px;
}
.my-player {
    background-color: #dff2fa;
}
.list-line{
    margin-left:80px;
    padding: 0 30px 0 30px;
    height: 1px;
    border-bottom: 1px solid #eeeeee;
}
.seperate-line{
    padding: 0 30px 0 30px;
    height: 1px;
    border-bottom: 1px solid #eeeeee;
}
.match-seq {
    font-size:20px;
    margin-left:4px;
}
.match-date {
    font-size:12px;
    line-height: 1;
}
.match-team {
    font-size:12px;
}
.match-score .round {
    font-size: 12px;
}
.match-score .score {
    line-height: 1;
    font-size: 28px;
}
.match-score .score-120 {
    line-height: 1;
    font-size: 12px;
}
.match-score .score-pk {
    line-height: 1;
    font-size: 12px;
}
.match-result {
    font-size: 12px;
}
.player-input-score {
    font-size: 12px;
}
nav .brand-logo {
    font-size:20px;
}
#popup_page {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    z-index:1000;
    visibility: visible;
    display:none;
    background-color:white;
    
}
#popup_content {
    overflow:scroll;
    height:100%;
}
#popup_content .list-row{
    width:100%;
    display:inline-flex;
    margin-top:8px;
}
#player_info {
    padding: 8px 16px 16px 16px ;
    font-size: 14px;
}
.info-home-team {
    margin-left:16px;
}
.info-away-team {
    margin-right:16px;
}
.info-match span {
    font-size:36px;
    margin:0px 8px;
}
.info-match-score .score {
    line-height: 1;
    font-size: 48px;
}
.info-match-score .score-120 {
    line-height: 1;
}
.info-match-score .score-pk {
    line-height: 1;
}
.dropdown-content li > span {
    font-size: 20px;
    padding: 0px 16px;
    text-align:center;
}
.dropdown-content li {
    min-height: 36px;
}
.select-wrapper input.select-dropdown {
    text-align:center;
    font-size: 24px;
}
#player_info .input-field {
    margin-top:0px;
    margin-bottom:0px;
}
@media only screen and (max-width: 600px) {
    #toast-container {
        text-align:center;
        min-width: 50%;
        max-width: 90%;
        bottom: 0%;
        margin:16px;
        opacity:0.75;
    }
}
.result-score {
    font-size:24px;
}
.profile-score {
    font-size:48px;
}
.profile-score-detail {
}
.profile-score-detail img{
    margin-left:4px;
    margin-right:4px;
}
.modal-content {
    padding:16px;
}
.modal-content i {
    margin-right:8px;
}